@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'vazir';
    src: url(../asset/fonts/vazirmatn/Vazirmatn-Medium.ttf);
}

@media (min-width:700px) {
    body{
        background-image: url("../asset/bg.png");
        background-position: inherit;
        background-repeat: no-repeat;
    } 
}
.main{
    height: 75vh;
}
.eye{
    width: 25px;
    /* height: 5px; */
    transform: translateX(-13px) translateY(-36px);
}